.container {
  max-width: 1055px;
  margin: 0 auto;
  padding: 0 15px;
}

.searchInput {
  margin-bottom: 30px;
  input {
    width: 95%;
    height: 40px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 30px;
  text-align: center;
  height: 480px;
  width: 28%;
  padding: 5px;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.filter {
  width: 300px;
  height: 100vh;
  border: 2px solid black;
  &__header {
    padding: 5px 10px;
    font-size: 16px;
  }
  &__container {
    padding: 5px 10px;
  }
}
