.container {
  max-width: 1055px;
  margin: 0 auto;
  padding: 0 15px;
}

.searchInput {
  margin-bottom: 30px;
}
.searchInput input {
  width: 95%;
  height: 40px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin-right: 30px;
  text-align: center;
  height: 480px;
  width: 28%;
  padding: 5px;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.card img {
  max-width: 200px;
  max-height: 200px;
}

.filter {
  width: 300px;
  height: 100vh;
  border: 2px solid black;
}
.filter__header {
  padding: 5px 10px;
  font-size: 16px;
}
.filter__container {
  padding: 5px 10px;
}/*# sourceMappingURL=style.css.map */